.licenses {
    max-width: 1920px;
    margin: 0 auto;
    .swiper-slide{
        box-shadow: 0 0 13px -5px ($graytext);
    }
    .swiper-wrapper{
        padding-top: 10px;
        
    }
    &__title {
        font-weight: 600;
        // margin-bottom: 45px;
        margin-bottom: 0;
        @media (max-width: 576px) {
            font-size: 28px;
            // margin-bottom: 30px;
        }
    }

    &-slider {
        position: relative;
    }
    &-slide{
        border-radius: 10px;
        overflow: hidden;
        // box-shadow: 5px 5px 5px 5px ($graytext);
    }

    .container {
        @media (max-width: 576px) {
            // padding: 0 !important;
        }
    }

    .slick-slide {
        background: var(--gray);
        margin: 0 20px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 500px;

        // overflow: hidden;
        div:first-child {
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .slider-main__element {
        padding: 0;
    }

    .recommends-slider__img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .licenses-slider{
        object-fit: contain;
        width: 100%;
        height: 100%;  
    }
}

.recommends {
    .slider-main__element {
        padding: 0;
    }
    &-slider {
        .slick-slide {
            background: var(--gray);
            margin: 0 20px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 500px;

            // overflow: hidden;
            div:first-child {
                object-fit: cover;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    .licenses-slider{
        object-fit: contain;
        width: 100%;
        height: 100%;  
    }
    // .swiper-pagination-bullets{
    //     display: flex !important;
    //     font-weight: nowrap;
    // }
    // .swiper-pagination-bullet{
    //     background: $primegreen;
    //     min-width: 250px;
    // }
    // .cases .swiper-pagination, .client .swiper-pagination, .experts .swiper-pagination, .licenses .swiper-pagination, .news .swiper-pagination, .recommends .swiper-pagination, .reviews .swiper-pagination{
    //     display: flex !important;
    // }
}