.logo {
    @media (max-width: 1200px) {
        // margin-bottom: 50px;
    }
    @media (max-width: 576px) {
        margin-bottom: 0;
    }
    &__img {}
    &__text {
        color: $graytext;
        font-weight: 500;
        margin-left: 10px;
        @media (max-width: 1499px) {
            // font-size: 8px;
        }
        @media (max-width: 991px) {
            display: none;
        }
    }
}
