.cases {
    margin-bottom: 80px;

    @media (max-width: 768px) {
        margin-top: 15px;
    }

    @media (max-width: 576px) {
        margin-bottom: 30px;
    }

    &-main {
        &__tags {
            margin-bottom: 25px;
            // display: none;
            height: auto;

            @media (max-width: 1499px) {
                margin-bottom: 5px;
            }

            @media (max-width: 999px) {
                margin-bottom: 25px;
            }

            &.active {
                display: block;
            }
        }
    }

    &-portfolio {
        @media (max-width: 576px) {
            text-align: center;
            margin-top: 25px;
            font-weight: 500;
            margin-bottom: 13px;
        }
    }

    &-post {
        &__text {
            @media (max-width: 576px) {
                display: none !important;
            }
        }
    }

    &__item {
        display: none;

        &.active {
            display: block;
        }
    }

    &__title {
        margin-bottom: 45px;
        font-size: 45px;

        @media (max-width: 1499px) {
            margin-bottom: 30px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 10px;
            line-height: 38px;
        }
    }

    &__tag {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
        font-family: "Manrope", sans-serif;
        transition: .1s linear all;

        &:hover {
            background-color: $primegreen;
            color: $white;
        }
    }

    &-tags {
        display: flex;
        margin-bottom: 20px !important;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 1199px) {
            // display: none;
            margin-bottom: 0px;
            mask-image: linear-gradient(90deg, #fff calc(100% - 18px), #fff 18px, #fff 8px, rgba(0, 0, 0, .25) calc(100% - 9px));
            // mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .25) 9px, rgba(0, 0, 0, 1) 18px, rgba(0, 0, 0, 1) calc(100% - 18px), rgba(0, 0, 0, .25) calc(100% - 9px), rgba(0, 0, 0, 0));
            overflow-x: scroll;
            padding: 0 20px 0 0;
            scrollbar-width: none;
        }

        @media (max-width: 1199px) {
            margin-bottom: 5px !important;
        }

        @media (max-width: 576px) {
            margin-bottom: 0;
        }

        &--slider {
            display: none;
            position: relative;

            @media (max-width: 1550px) {
                display: flex;
            }

            & .cases-tags__element {
                padding: 20px 10px;
                margin-bottom: 0;

                @media (max-width: 576px) {
                    padding: 5px;
                }
            }

            & .slick-list {
                overflow: hidden;
            }

            position: relative;

            & .slick-slide {
                display: flex;
            }

            & .slick-arrow {
                position: absolute;
                font-size: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1000;
                width: 8px;
                height: 15px;

                &.slick-prev {
                    left: 1%;
                    background: url("../img/main/cases/arrow-prev.svg") 0 0 no-repeat;

                }

                &.slick-next {
                    right: -3%;
                    background: url("../img/main/cases/arrow-next.svg") 0 0 no-repeat;
                    ;

                }
            }
        }

        &__element {
            margin-bottom: 20px;
            cursor: pointer;

            @media (max-width: 1550px) {
                margin-right: 29px;
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
                margin-bottom: 0;
            }

            @media (max-width: 576px) {
                text-align: center;
                //кое что
                margin-bottom: 0;
                margin-right: 5px;
            }

            // margin-bottom: 20px;
            &.active {
                pointer-events: none;

                @media (max-width: 576px) {
                    // display: flex;
                    // align-items: center;

                    // background-color: $primegreen;
                    // color: $white;
                    // border: 1px solid #00A679;

                }

                span {
                    background-color: $primegreen;
                    color: $white;
                    border: 1px solid $primegreen;

                    @media (max-width: 576px) {
                        background-color: $primegreen;
                        color: $white;
                        // text-decoration: underline;
                        padding: 5px 15px;


                        // &:hover {
                        //     background-color: transparent;
                        //     color: $primegreen;

                        //     @media (max-width: 576px) {
                        //         background-color: none;
                        //         color: $primegreen;
                        //     }
                        // }
                    }


                }
            }

            span {
                font-size: 20px;
                font-weight: 500;
                font-family: "Manrope", sans-serif;
                transition: .1s linear all;
                border-radius: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                white-space: nowrap;
                padding-left: 15px;
                padding-right: 15px;
                border: 1px solid #dadada;

                @media (max-width: 991px) {
                    font-size: 16px;
                }

                @media (max-width: 576px) {
                    // text-align: center;
                    // border: none;
                }

                // &:hover {
                //     background-color: $primegreen;
                //     color: $white;
                //     padding-left: 15px;
                //     padding-right: 15px;

                //     @media (max-width: 576px) {
                //         background-color: $white;
                //         // padding: 0;
                //         color: #484848;
                //     }
                // }

            }
        }

        &__col {
            // margin-right: 75px;
            padding: 5px 0;

            @media (max-width: 1550px) {
                display: flex;
                margin-right: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__wrapper {
        margin-top: 0px;
        padding-bottom: 5px;

        @media (max-width: 1499px) {}
    }

    &__appeal {
        margin-top: 25px;
        font-size: 22px;
        font-weight: 700;

        @media (max-width: 1499px) {
            margin-top: 20px;
        }

        @media (max-width: 576px) {
            margin-top: 0px;
        }

        &-text {
            margin: 0 25px;
            // text-align: right;
            position: absolute;
            transform: translate(-80%, 0%);
            width: 500px;

            @media (max-width: 1399px) {
                text-align: center;
                width: 100%;
                position: relative;
                margin: 0 auto 20px;
                transform: translate(0%, 0%);
            }

            &:last-child {
                margin: 0;

                @media (max-width: 1199px) {
                    margin-bottom: 20px;
                }

                @media (max-width: 499px) {
                    margin-bottom: 20px;
                    text-align: center;
                }
            }
        }

        &-block {
            @media (max-width: 1399px) {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__btn {
        padding-left: 28px;
        padding-right: 28px;

        &:hover {
            color: $white;
        }
    }

    // .slick-current div{
    //     @media (max-width: 576px) {
    //         // display: flex;
    //         // align-items: center;
    //         color: #00A679;
    //         border-bottom: 2px solid #00A679;
    //     }
    // }
    // .slick-active .cases-tags__element{
    //     @media (max-width: 576px) {
    //         border-bottom: none;
    //     }
    // }

    .slick-slide {
        @media (max-width: 576px) {
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .cases-tags--slider .slick-arrow.slick-next {
        right: -5%;
    }

    #cases-slider {
        // filter: linear-gradient(90deg, rgba(88, 114, 108, 0) 18%, rgba(255, 255, 255, 1) 63%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1);
    }

    #adap-slider {
        @media (max-width: 576px) {
            margin-top: 20px;
        }
    }

    .slick-prev {
        @media (max-width: 576px) {
            display: none !important;
        }
    }
}