.intro {
    padding-bottom: 50px;
    background: #ffef9f;

    // @media(max-width: 3000px) {
    //     background-position: 17% 37%;
    // }
    // @media(max-width: 2500px) {
    //     background-position: 15% 38%;
    // }
    // @media(max-width: 2300px) {
    //     background-position: 7% 38%;
    // }
    // @media(max-width: 1900px) {
    //     background-position: 2% 38%;
    // }
    // @media(max-width: 1720px) {
    //     background-position: -5% 38%;
    // }
    // @media (max-width: 991px) {
    //     background-color: #FFE66D;
    //  }
    @media (max-width: 576px) {
        padding-bottom: 34px;
    }
    &-content {
        position: relative;
        margin-top: 50px;
        @media(max-width: 1499px) {
            margin-top: 35px;
        }
        @media(max-width: 1199px) {
            max-width: 768px;
            margin-right: auto;
            margin-left: auto;
        }
        @media (max-width: 576px) {
            margin-top: 28px;
        }
        &__bg {
            position: absolute;
            top: 70px;
            left: -220px;
            // @media(max-width: 1499px) {
            //     transform: translateX(100%);
            // }
            // @media (max-width: 1199px) {
            //     transform: translateX(0%);
            // }
        }
        &__title {
            font-size: 50px;
            margin-bottom: 35px;
            @media (max-width: 1720px) {
                font-size: 40px;
                margin-bottom: 25px;
            }
            @media (max-width: 576px) {
                font-size: 22px !important;
                margin-bottom: 20px;
                line-height: 30px;
            }
            @media (max-width: 350px) {
                font-size: 18px !important;
                margin-bottom: 20px;
                line-height: 25px;
            }
        }
        &__text {
            font-weight: 500;
            color: #767053;
            margin-bottom: 35px;
            max-width: 540px;
            @media (max-width: 1720px) {
                margin-bottom: 25px;
            }
            @media (max-width: 1499px) {
                max-width: 100%;
            }
            @media (max-width: 1199px) {
                margin-bottom: 15px;
            }
            @media (max-width: 576px) {
                font-size: 16px;
            }
            @media (max-width: 350px) {
                font-size: 14px !important;

            }
            &-block{
                @media (max-width: 1199px) {
                    width: 100% !important;
                }
            }
        }
        .col-xl {
            @media (max-width: 1199px) {
                width: 50%;
            }
            @media (max-width: 1099px) {
                width: 100%;
            }
        }
    }
}

