.products {
    // padding-top: 80px;
    // padding-bottom: 105px;
    padding-bottom: 80px;
    overflow: hidden;
    @media (max-width: 768px) {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0;
    }
    &-carousel {
        // flex-wrap: wrap;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        &__container {
            height: 250px;
            display: flex;
            align-items: center;
        }
    }

    .hide {
        display: none !important;
    }



    &-slider {

        &__controls {
            background: #000;
        }

        &--main {
            // display: none;
        }

        .slick-slide {
            display: flex !important;
            flex-direction: column;
            justify-content: center;

        }

        &__element {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // height: 250px;
            text-align: center;

            // display: none !important;
            // &.active{
            //     display: inline-block !important;
            // }
            img {
                height: 250px;
            }

            &.active {
                display: flex;
                align-items: center;
                height: 250px;
                justify-content: center;
            }
        }

        &--active {
            display: block;
        }

        &-tabs {
            display: none !important;
            position: relative;
            padding: 10px 0;

            & .slick-current {
                & .products-tabs__element--slider {
                    background-color: $primegreen;
                    color: $white;
                    border-radius: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            & .slick-list {
                padding: 0 10% 0 0;
                overflow: hidden;
            }


            & .slick-slide {
                display: flex;
            }

            & .slick-arrow {
                position: absolute;
                font-size: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1000;
                width: 8px;
                height: 15px;

                &.slick-prev {
                    left: 1%;
                    background: url("../img/main/cases/arrow-prev.svg") 0 0 no-repeat;

                }

                &.slick-next {
                    right: -5%;
                    background: url("../img/main/cases/arrow-next.svg") 0 0 no-repeat;
                    ;

                }
            }

            // display: none !important;

            @media (max-width: 576px) {
                // display: flex !important;
            }
        }

    }

    &__title {
        font-size: 45px;
        margin-bottom: 45px;

        @media (max-width: 576px) {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 10px;
        }

        span {
            font-weight: 600;
        }

    }

    &-tabs {
        flex-wrap: nowrap;
        margin-bottom: 50px;
        cursor: pointer;
        display: flex;

        @media (max-width: 1499px) {
            margin: 20px 0;
        }

        @media (max-width: 768px) {
            justify-content: space-between;
            // mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .25) 9px, rgba(0, 0, 0, 1) 18px, rgba(0, 0, 0, 1) calc(100% - 18px), rgba(0, 0, 0, .25) calc(100% - 9px), rgba(0, 0, 0, 0));
            mask-image: linear-gradient(90deg,#fff calc(100% - 18px),#fff 18px,#fff 8px,rgba(0,0,0,.25) calc(100% - 9px));
            overflow-x: scroll;
            // padding: 0 20px;
            scrollbar-width: none;
        }

        @media (max-width: 576px) {
            // display: none;
            margin-bottom: 15px;
            padding: 10px 0;
            margin-top: 15px;
        }

        // li{
        //     margin-right: 25px;
        // }

        &__element {
            font-size: 22px;
            font-family: "Manrope", sans-serif;
            color: #000;
            transition: .1s linear all;
            margin-right: 45px;
            // padding: 5px 0;
            border-radius: 10px;
            text-decoration: none;
            // padding: 0 16px;
            border: 1px solid #dadada;
            line-height: 35px;
            white-space: nowrap;
            padding: 8px 24px;

            @media (max-width: 1199px) {
                font-size: 16px;
                margin-right: 25px;
            }

            @media (max-width: 768px) {
                margin-right: 10px;
            }

            @media (max-width: 576px) {
                margin-right: 15px;
                white-space: nowrap;
                font-size: 14px;
                line-height: 24px;
            }

            @media (max-width: 330px) {
                margin-right: 10px;
                white-space: nowrap;
            }

            &:last-child {
                @media (max-width: 576px) {
                    padding-right: 15px !important;
                    padding-left: 15px !important;
                }
            }

            &.active {
                background-color: $primegreen;
                color: $white;
                // border-radius: 10px;
                // padding-left: 10px;
                // padding-right: 10px;
                border: 1px solid $primegreen;

            }

            &:hover {
                background-color: $primegreen;
                color: $white;
                // border-radius: 10px;
                // padding-left: 10px;
                // padding-right: 10px;
                border: 1px solid $primegreen;

            }

            &--slider {
                font-size: 22px;
                font-family: "Manrope", sans-serif;
                color: #000;
                transition: .1s linear all;
                margin-right: 45px;
                padding: 5px 0;

                @media (max-width: 991px) {
                    font-size: 16px;
                    margin-right: 25px;
                }

                @media (max-width: 768px) {
                    margin-right: 0px;
                }
            }

        }
    }

    &-tags {
        // display: none;
        // display: flex;
        margin-bottom: 40px;

        @media (max-width: 1199px) {
            margin-bottom: 0px;
            // mask-image: linear-gradient(275deg, transparent 0, rgba(0, 0, 0, .25) 9px, #000 18px, #000 calc(100% - 18px), rgba(0, 0, 0, .25) calc(100% - 9px), transparent);
            mask-image: linear-gradient(90deg, rgba(255,255,255,1) calc(100% - 18px), rgba(255,255,255,1) 18px, rgba(255,255,255,1) 8px, rgba(0, 0, 0, .25) calc(100% - 9px));
            overflow-x: scroll;
            scrollbar-width: none;
            // flex-wrap: wrap;
        }

        @media (max-width: 991px) {
            // flex-wrap: wrap;
        }

        @media (max-width: 576px) {
            margin-bottom: 0;
        }

        &.active {
            display: flex;
        }

        &__element {
            font-size: 20px;
            font-weight: 500;
            margin-right: 40px;
            cursor: pointer;
            white-space: nowrap;

            // text-align: center;

            @media (max-width: 1199px) {
                margin-right: 0px;
                margin-bottom: 10px;
                padding: 0 25px 0 0;
            }

            @media (max-width: 991px) {
                font-size: 16px;
                // flex-basis: 45%;
                // margin-right: 0px;
            }

            @media (max-width: 767px) {
                // flex-basis: 100%;
                margin-bottom: 5px;
            }

            @media (max-width: 576px) {
                font-size: 14px;
            }

            & span {
                padding: 5px 0;
                display: block;
                border-bottom: 2px solid transparent;
            }

            &.active {
                span {
                    color: $primegreen;
                    border-bottom: 2px solid #00a679;
                }
            }

        }
    }

}