.promotion {
    padding: 80px 0;
    @media (max-width: 991px) {
        padding: 60px 0;
    } 
    @media (max-width: 576px) {
        padding: 45px 0;
    } 
    &__title {
        max-width: 50%;
        font-size: 45px;
        margin-bottom: 45px;
        line-height: 63px;
        @media (max-width: 576px) {
            max-width: 100%;
            font-size: 26px;
             line-height: 36px;
            margin-bottom: 29px;
        }
        span {
            font-weight: 600;
            @media (max-width: 576px) {
                font-size: 26px;
                 line-height: 36px;
            }
        }
    }
    &__text {
        font-size: 22px;
        color: $primetext;
        @media (max-width: 576px) {
            font-size: 18px;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        // margin-top: 70px;
        margin-top: 10px;
        @media (max-width: 1499px) {
            margin-top: 0px;
        }
        @media (max-width: 576px) {
            margin-top: 30px;
        }
        a {
            padding-left: 55px;
            padding-right: 55px;
            &:hover {
                color: $white;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        
    }
}